.code-error {
	color: red;
	white-space: pre;
}

.object-template-editor input {
  width: 50px;
}


.object-template-editor {
  display: inline;
}

.generic-parameter {
  display: inline;
}

.object-template-editor select { 
  width: auto;
}

.music-object-editor select { 
  width: auto;
}

.compressed {
  max-height: 30px;
  overflow: hidden;
}

.examplelist a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*table .indexsection {
  width: 15%
}

table td {
  vertical-align: top;
  border: 1px solid black;
}

table {
  width: 100%;
}
*/

.musicapp .btn {
  -webkit-box-shadow: 0 0 0 0;
     -moz-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;

  margin-bottom: 0;
}


.musicapp .btn.active,
.musicapp .btn:active {
  margin-top: 0;
  margin-left: 0;
  color: #0000ff;
  -webkit-box-shadow: 0 0 0;
     -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.musicapp.container {
  width:100%;
  margin:0;
}

.stack-element {
  border: 2px solid #bbbbbb;
  padding: 5px;
  margin: 5px;
}

.piano-firstrow,
.piano-secondrow {
  display: flex;
}

.piano-firstrow .octave,
.piano-secondrow .octave {
  display: flex;
}

.piano-row .key.active {
  background-color: aqua;
}

.piano-firstrow .key {
  height: 50px;
}

.piano-firstrow .whitekey1,
.piano-firstrow .whitekey2 {
  background-color: white;
  margin-left: 1px;
}


.piano-firstrow .whitekey1 {
  width: 15px;
}

.piano-firstrow .whitekey2 {
  width: 10px;
}

.piano-firstrow .blackkey {
  width: 10px;
  background-color: black;
}

.piano-secondrow .key {
  width: 20px;
  background-color: white;
  height: 30px;
  margin-left: 1px;
}

input.invisible-text {
  color: grey;
  background-color: grey;
}

.music-object-editor select {
  width: 100px;
}