.musicapp .examplelist .fa {
  margin-right: 14px;
}

.code-error {
	color: red;
	white-space: pre;
}

.object-template-editor input[type="text"] {
  width: 50px;
}

.object-template-editor {
  display: inline;
}

.generic-parameter {
  display: inline;
}

.object-template-editor select { 
  width: auto;
}

.music-object-editor select { 
  width: auto;
}

.compressable {
  -webkit-transition: max-height 0.2s linear; /* Safari */
  transition: max-height 0.2s linear;
  overflow: hidden;
  max-height: 1000px;
}

.showable {
  -webkit-transition: opacity 0.2s; /* Safari */
  transition: opacity 0.2s;
  opacity: 1.0;
  max-height: 1000px;
}

.modal-body .highlight.inverse {
  background-color: black;
  color: white;
}

.modal-body, .modal-footer, .modal-header {
  color: black;
}

.regular-checkbox {
  background-color: #AAAAAA;
  border: none;
  padding: 9px;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  margin: 0 !important;
}

.regular-checkbox:checked {
  background-color: white;
  border: none;
}

.compressable-switch:not(:checked) ~ .compressable {
  max-height: 30px;
}

.showable-switch:not(:checked) ~ .showable {
  opacity: 0;
}

.examplelist {
  color: black;
}
.examplelist a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*table .indexsection {
  width: 15%
}

table td {
  vertical-align: top;
  border: 1px solid black;
}

table {
  width: 100%;
}
*/

.musicapp .btn {
  -webkit-box-shadow: 0 0 0 0;
     -moz-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;

  margin-bottom: 0;
  cursor: pointer;
}


.musicapp .btn.active,
.musicapp .btn:active {
  margin-top: 0;
  margin-left: 0;
  color: #0000AA;
  -webkit-box-shadow: 0 0 0;
     -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.musicapp.container {
  width:100%;
  margin:0;
}

.stack-element {
  border: 2px solid #AAAAAA;
  padding: 5px;
  margin: 5px;
}

.piano-firstrow,
.piano-secondrow {
  display: flex;
}

.piano-firstrow .octave,
.piano-secondrow .octave {
  display: flex;
}

.piano-row .key.active {
  background-color: aqua;
}

.piano-firstrow .key {
  height: 50px;
  width: 10px;
  background-color: black;
}

.piano-firstrow .whitekey1,
.piano-firstrow .whitekey2 {
  background-color: white;
  margin-left: 1px;
}


.piano-firstrow .key.whitekey1 {
  width: 15px;
}

.piano-firstrow .key.whitekey2 {
  width: 10px;
}

.piano-secondrow .key {
  width: 20px;
  background-color: white;
  height: 30px;
  margin-left: 1px;
}

input.invisible-text {
  color: grey;
  background-color: grey;
}

.music-object-editor select {
  width: 100px;
}

.stack-element.drag-enter {
  border-color: red;
}

.stackdropbar {
  width: 100%;
  height: 20px;
  background-color: black;
}

.stackdropbar.drag-enter {
  background-color: #aaaaaa;
}

.margin10 {
  margin: 10px;
}

.inlinetable {
  display: inline-table;
}

.hzinput {
  width: 60px;
}

input.factorinput {
  width: 40px;
  margin-left: 0;
  -webkit-transition: width 0.2s; /* Safari */
  transition: width 0.2s;
  margin-top: 0;
  margin-bottom: 0;
}

p.factorrow {
  width: 4000px;
}

input.factorinput:focus {
  width: 100px;
}

.oscillator input[type=number]::-webkit-inner-spin-button, 
.oscillator input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.allow-scroll-x {
  overflow-x: scroll;
}

table.terms tr {
  height: 25px;
}

input.serie {
  width: 100% !important  ;
}

p.serie-label {
  margin: 10px 0px;
}

canvas.wavegraph {
  width: 100%;
  height: 200px;
  image-rendering: pixelated;
  margin: 10px 10px 10px 10px;
  border-style: double;
  border-color: white;
  border-width: 8px;
}

input.invalid-text {
  color: #AA0000;
}

div.invalid-text {
  color: #AA0000;
}

select.preset {
  width: 100%;
}

.affix {
  position: fixed;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-padding {
  width: 100%;
  height: 40px;
}

.arpeggiator input[type="number"] {
  width: 100%;
}

.arpeggiator .note-cell {
  padding-top: 10px;
  display: inline-table;
  width: 30px;
}
.compressable-switch:not(:checked) ~ .compressable {
  max-height: 30px;
}

.bs-docs-sidebar {
  z-index: 1;
}

.navbar {
  z-index: 2;
}

.dropdown-menu a.keep-color {
  color: black;
}

a:focus, a:hover {
  background-color: black;
}

.modal-backdrop {
  opacity: 0 !important;
}

input, select {
  border: none !important;
}

body.modal-open {
  background-color: black;
}

.modal-body h1,
.modal-body h2,
.modal-body h3,
.modal-body h4,
.modal-body h5,
.modal-body h6 {
  color: white;
  background-color: black;
}

.modal-body .examplelist {
  width: 250px;
}

.modal-body a {
  color: black;
}

.modal-body a:hover {
  background: none;
  color: #555555;
}

body.modal-open .main-window .navbar-inverse,
body.modal-open .main-window .navbar-inner,
body.modal-open .main-window .navbar-inner a,
body.modal-open .main-window .nav,
body.modal-open .main-window .dropdown-toggle,
body.modal-open .main-window button.btn.btn-primary,
body.modal-open .main-window input,
body.modal-open .main-window select {
  background-color: #555555 !important;
  color: black;
}

body.modal-open .main-window p,
body.modal-open .main-window .stack-element {
  color: #555555 !important;
}

body.modal-open .main-window .piano-firstrow .key {
  background-color: black !important;
}

body.modal-open .main-window input,
body.modal-open .main-window .piano-firstrow .key.whitekey1,
body.modal-open .main-window .piano-firstrow .key.whitekey2,
body.modal-open .main-window .key,
body.modal-open .main-window .pattern-block .block-content {
  background-color: #aaaaaa !important;
}

body.modal-open .main-window .stack-element,
body.modal-open .main-window .pattern-main-window,
body.modal-open .main-window .player-controls,
body.modal-open .main-window hr {
  border-color: #555555 !important;
}

body.modal-open .main-window h1,
body.modal-open .main-window h2,
body.modal-open .main-window h3,
body.modal-open .main-window h4,
body.modal-open .main-window h5,
body.modal-open .main-window h6 {
  color: #555555 !important;
}

/*body.modal-open .main-window * {
  background-color: #555555 !important;
}*/

.modal-dialog {
  border-color: #0000ff;
  border-width: 8px;
  border-style: double;
}

.modal-header {
  background-color: #0000ff;
  color: white;
}