.musicapp .fa {
  margin-right: 14px;
}

.code-error {
	color: red;
	white-space: pre;
}

.object-template-editor input[type="text"] {
  width: 50px;
}

.object-template-editor {
  display: inline;
}

.generic-parameter {
  display: inline;
}

.object-template-editor select { 
  width: auto;
}

.music-object-editor select { 
  width: auto;
}

.compressable {
  -webkit-transition: max-height 0.2s linear; /* Safari */
  transition: max-height 0.2s linear;
  overflow: hidden;
  max-height: 1000px;
}

.showable {
  -webkit-transition: opacity 0.2s; /* Safari */
  transition: opacity 0.2s;
  opacity: 1.0;
  max-height: 1000px;
}


.regular-checkbox {
  background-color: #bbb;
  border: none;
  padding: 9px;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  margin: 0 !important;
}

.regular-checkbox:checked {
  background-color: white;
  border: none;
}

.compressable-switch:not(:checked) ~ .compressable {
  max-height: 30px;
}

.showable-switch:not(:checked) ~ .showable {
  opacity: 0;
}

.examplelist {
  color: black;
}
.examplelist a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*table .indexsection {
  width: 15%
}

table td {
  vertical-align: top;
  border: 1px solid black;
}

table {
  width: 100%;
}
*/

.musicapp .btn {
  -webkit-box-shadow: 0 0 0 0;
     -moz-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;

  margin-bottom: 0;
}


.musicapp .btn.active,
.musicapp .btn:active {
  margin-top: 0;
  margin-left: 0;
  color: #0000ff;
  -webkit-box-shadow: 0 0 0;
     -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.musicapp.container {
  width:100%;
  margin:0;
}

.stack-element {
  border: 2px solid #bbbbbb;
  padding: 5px;
  margin: 5px;
}

.piano-firstrow,
.piano-secondrow {
  display: flex;
}

.piano-firstrow .octave,
.piano-secondrow .octave {
  display: flex;
}

.piano-row .key.active {
  background-color: aqua;
}

.piano-firstrow .key {
  height: 50px;
  width: 10px;
  background-color: black;
}

.piano-firstrow .whitekey1,
.piano-firstrow .whitekey2 {
  background-color: white;
  margin-left: 1px;
}


.piano-firstrow .key.whitekey1 {
  width: 15px;
}

.piano-firstrow .key.whitekey2 {
  width: 10px;
}

.piano-secondrow .key {
  width: 20px;
  background-color: white;
  height: 30px;
  margin-left: 1px;
}

input.invisible-text {
  color: grey;
  background-color: grey;
}

.music-object-editor select {
  width: 100px;
}

.stack-element.drag-enter {
  border-color: red;
}

.stackdropbar {
  width: 100%;
  height: 20px;
  background-color: black;
}

.stackdropbar.drag-enter {
  background-color: #ccc;
}

.margin10 {
  margin: 10px;
}

.inlinetable {
  display: inline-table;
}

.hzinput {
  width: 60px;
}

input.factorinput {
  width: 40px;
  margin-left: 0;
  -webkit-transition: width 0.2s; /* Safari */
  transition: width 0.2s;
  margin-top: 0;
  margin-bottom: 0;
}

input.factorinput:hover {
  width: 100px;
}

p.factorrow {
  width: 4000px;
}

input.factorinput:focus {
  width: 100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.allow-scroll-x {
  overflow-x: scroll;
}
