.pattern-main-window {
  border: 2px solid #bbbbbb;
  padding: 5px;
  margin: 5px;
}

input.smallinput {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.event-area-container {
  height: 200px;
  overflow: scroll;
}

.track-compact-view.event-area {
  background-image: linear-gradient(to right, white 2px, transparent 1px);
}

.event-area {
  position: relative;
  height: 2400px;
}

.event-area .maingrid {
  background-image: linear-gradient(to right, white 2px, transparent 1px), linear-gradient(to bottom, white 2px, transparent 1px);    
}

.event-area .innergrid {
  background-size: 10px 20px;
}

.event-area .zebra {
  background-size: 10px 40px;
  background-image: linear-gradient(to bottom, black 20px, transparent 1px);    
}

.pattern-drop-lateral {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
}

.pattern-drop-lateral p {
  word-break: break-word;
  overflow: hidden;
}

.enabled-instrument .pattern-drop-lateral {
  background-color: white;
  color: black;
}

.pattern-drop-lateral.drag-enter {
  background-color: #aaaaaa;
}

.track-compact-view-wrapper.selected .event-area .note {
  background-color: #55ff55;
}

.track-compact-view-wrapper.selected .event-area .note.selected {
  background-color: white;
}

.track-compact-view-wrapper .event-area .note {
  background-color: #00aa00;
}

.event-area .note-label {
  overflow: hidden;
}

.event-area .note {
  background-color: #55ff55;
  position: absolute;
  height: 20px;
  color: black;
  overflow: hidden;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 2px;
  overflow: visible;
}

.event-area .note:hover {
  cursor: all-scroll;
}

.event-area .note.selected {
  background-color: white;
}

.event-list {
  padding-right: 320px; /* Allow adding notes after area and extend the pattern */
}

.note {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */  
  user-select: none;
}

.note .resize-section {
  width: 5px;
  height: 100%;
  cursor: e-resize;
  position: absolute;
  right: 0;
}

.note .drag-event-section {
  position: absolute;
  left: 0;
}

.player-controls {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.player-controls button.player {
  float: right;
  margin: 10px 5px;
}

.player-controls button.player:active {
  margin: 10px 5px;
}

.track-compact-view {
  height: 20px;
  background-color: black;
  cursor: pointer;
  overflow: hidden;
}

.track-compact-view-wrapper.selected .track-compact-view {
  background-color: #555555;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.vertical-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.responsive-input {
  width: 100%;
}

.track-muted-state {
  color: #555555;
}

.track-muted-state.track-muted {
  color: #ff0000;
}

.track-flags-panel {
  margin-top: 10px;
}

.track-muted .enabled-instrument .pattern-drop-lateral {
  background-color: #555555;
}
.track-muted .note {
  background-color: #555555 !important;
}

.track-muted .note.selected {
  background-color: #AAAAAA !important;
}

.btn-remove-track:before {
  content: none;
}

.btn-remove-track:after {
  content: none;
}

.track-button-panel {
  user-select: none;
}

.track-button-panel .inline {
  display: inline;
}

.track-button-panel .track-flag {
  cursor: pointer;
  color: #555555;
  margin-left: 10px;
}

.track-button-panel .track-flag.enabled {
  color: #ff0000;
}

.multi-track-container {
  position: relative;
}

.playing-line.pattern-playing-line {
  margin-left: 139px;
}

.playing-line.song-playing-line {
  margin-left: 0px;
}

.playing-line {
  height: 100%;
  width: 0px;

  border-left-color: white;
  border-left-width: 2px;
  border-left-style: solid;

  overflow: visible;

  z-index: 400;
}

.playing-line .playing-time-marker {
  width: 10px;
  height: 20px;
  background-color: white;
  margin-left: -6px;
  margin-top: -20px;
}
