.song-main-window {
  border: 2px solid #bbbbbb;
  padding: 5px;
  margin: 5px;
}

.pattern-block-area-container {
  width: 100%;
  min-height: 300px;
  overflow-x: scroll;
}

.pattern-block-area .track {
  white-space: nowrap;
}

.pattern-block:hover {
  z-index:9999;
}

.measure-number-track {
  margin-top: -25px;
}

.measure-number {
  width: 150px;
  margin: 2px;
  display: inline-block;
}

.pattern-block {
  height: 60px;
  width: 150px;
  background-color: black;
  display: inline-block;
  position: relative;
  margin: 2px;
  overflow: visible;
  white-space: normal;
}

.block-content div.text-container {
  overflow: hidden;
}

.block-content div.text-container p {
  padding-top: 20px;
}

.block-content {
  background-color: white;
  color: black;
  z-index:1000;
}

.pattern-block.drag-enter {
  background-color: #aaaaaa;
  color: black;
}

.pattern-mini-button.fa.playing {
  color: #0f0;
}

.pattern-mini-button.fa {
  color: black;
  background-color: #aaaaaa;
  margin-right: 0px;
  float: right;
  cursor: pointer;
}

.player.btn.recording {
  color: #f00;
}

.pattern-block-area-container {
  padding-top: 20px;
}

.pattern-block-area {
  padding-top: 5px;
}

.pattern-block-area-container .with-playing-line-container {
  position: relative;
}

.seekbar {
  position: absolute;
  margin-top: -30px;
  z-index: 3000;

  width: 100%;
  height: 30px;

  cursor: pointer;
}

.play-btn {
  width: 7.2em;
}
