.song-main-window {
  border: 2px solid #bbbbbb;
  padding: 5px;
  margin: 5px;
}

.pattern-block-area-container {
  width: 100%;
  overflow-x: scroll;
}

.pattern-block-area .track {
  white-space: nowrap;
}

.pattern-block {
  height: 100px;
  width: 150px;
  background-color: black;
  display: inline-block;
  position: relative;
  margin: 0px;
  overflow: visible;
  white-space: normal;
}

.block-content {
  background-color: white;
  color: black;
  overflow: hidden;
  z-index:1000;

  border-width: 2px;
  border-style: solid;
  margin: -2px;
  border-color: #aaaaaa;
}

.pattern-block.drag-enter {
  background-color: #aaaaaa;
  color: black;
}

.pattern-mini-button.fa {
  color: black;
  background-color: #aaaaaa;
  margin-right: 0px;
  float: right;
  cursor: pointer;
}

.player.btn.recording {
  color: #f00;
}
