<div music-object-editor file="file">
</div>

<p> Use ZXCVBNM keys for keyboard </p>
<div ng-repeat="instrument in instruments">
    {{instrument.name}}
    <input ng-keyup="instrument.keyUp($event.keyCode)" ng-keydown="instrument.keyDown($event.keyCode)" placeholder="click here to use instrument" type="text"/>
</div>
<div ng-repeat="playable in playables">
    <button ng-disabled="playable.playing" ng-click="startPlay(playable)">PLAY<div>
    <button ng-disabled="!playable.playing" ng-click="stopPlay(playable)">STOP<div>
<div>
