<div ng-include="templateUrl"></div>

<p> Use ZXCVBNM keys for keyboard </p>
<div ng-repeat="instrument in instruments">
    {{instrument.name}}
    <input ng-keyup="instrument.keyUp($event.keyCode)" ng-keydown="instrument.keyDown($event.keyCode)" placeholder="click here to use instrument" type="text"/>
</div>
<div ng-repeat="playable in playables">
    <button ng-click="playable.playable.play()">{{playable.name}}<div>
    <button ng-if="playable.recordable" ng-click="playable.recordable.record()">RECORD</button>
<div>
