<div class="music-object-editor" music-stack init-file="file" output-file="outputFile">
</div>

<p> Click grey bar and use ZXCVBNM keys to play instrument, or hover mouse on virtual keyboard </p>
<div ng-repeat="instrument in instruments">
    {{instrument.name}}
    <keyboard instrument="instrument" />
</div>
<div ng-repeat="playable in playables">
    <button ng-disabled="playable.playing" ng-click="startPlay(playable)">PLAY<div>
    <button ng-disabled="!playable.playing" ng-click="stopPlay(playable)">STOP<div>
<div>
