<head>
<script src="dist/music.js"></script>
<script src="dist/site.js"></script>
<script src="src/soundfont/accordion-ogg.js"></script>
<script src="src/soundfont/acoustic_grand_piano-ogg.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico?18a4d3">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="css/codemirror.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/pattern.css">
<link rel="stylesheet" href="css/song.css">
<link rel="stylesheet" href="css/recipes.css">

<script>
  if (location.host.split(":")[0] === "localhost") {
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
  }

</script>
</head>
<body ng-app="MusicShowCaseApp" class="musicapp">
    <div ng-controller="MainController" class="main-window" ng-class="{'contextual-help-enabled': contextualHelp}">
    
    <script type="text/ng-template" id="todoModal.html">
        <div class="modal-header musicapp">
            // TODO
        </div>
        <div class="modal-body musicapp">
            Sorry. Not implemented Yet :P
        </div>
        <div class="modal-footer musicapp">
            <button class="btn btn-primary" type="button" ng-click="dismiss()">Dismiss</button>
        </div>
    </script>

      <div class="contextual-help-switch" ng-click="contextualHelp = !contextualHelp">
        ? {{contextualHelp ? 'Disable': 'Enable' }} Contextual Help
      </div>

    <!-- TODO: Move to directive  -->
        <div class="navbar navbar-inverse" recipe-blink="'navbar'">
              <div class="navbar-inner">
                <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  </button>
                  <a class="brand" href="">Music.js</a>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li class="dropdown show-contextual-tooltip" recipe-blink="'menu_new'" ng-click="recipe.raise('menu_new_click')">
                         <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New</a>
                         <ul class="dropdown-menu">
                            <li recipe-blink="'menu_new_instrument'"><a href="" ng-click="newInstrument(); recipe.raise('menu_new_instrument_click')">Instrument</a>
                              <recipe-tooltip rt-id="'menu_new_instrument'"></recipe-tooltip>
                            </li>
                            <li recipe-blink="'menu_new_pattern'"><a href="" ng-click="newPattern(); recipe.raise('menu_new_pattern_click')">Pattern</a>
                              <recipe-tooltip rt-id="'menu_new_pattern'"></recipe-tooltip>
                            </li>
                            <li recipe-blink="'menu_new_song'"><a href="" ng-click="newSong(); recipe.raise('menu_new_song_click')">Song</a>
                              <recipe-tooltip rt-id="'menu_new_song'"></recipe-tooltip>
                            </li>
                         </ul>
                         <recipe-tooltip rt-id="'menu_new'"></recipe-tooltip>
                         <div class="help-tooltip contextual-tooltip">You can create new blank items from this option</div>
                      </li>
                      <li class="dropdown show-contextual-tooltip" recipe-blink="'menu_preferences'">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
                          <ul class="dropdown-menu">
                            <li><a href="" ng-click="todo()">Preferences</a></li>
                          </ul>
                          <recipe-tooltip rt-id="'menu_preferences'"></recipe-tooltip>
                          <div class="help-tooltip contextual-tooltip">You can edit your preferences here</div>
                      </li>
                      <li class="dropdown show-contextual-tooltip" recipe-blink="'menu_help'" ng-click="recipe.raise('menu_help_click')">
                         <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">?</a>
                         <ul class="dropdown-menu">
                            <li><a href="" ng-click="help()" recipe-blink="'menu_help_help'">View Help</a>
                              <recipe-tooltip rt-id="'menu_help_help'"></recipe-tooltip>
                            </li>
                            <li class="dropdown-submenu" recipe-blink="'menu_help_recipes'">
                              <a class="keep-color" tabindex="-1" href="#" onclick="return false;">Recipes<span class="fa fa-caret-right pull-right"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="" ng-click="recipe('intro')">Basic intro tour</a></li>
                                <li><a href="" ng-click="recipe('create_a_song')">How to create a song</a></li>
                              </ul>
                              <recipe-tooltip rt-id="'menu_help_recipes'"></recipe-tooltip>
                            </li>
                            <li><a href="" ng-click="contextualHelp = !contextualHelp" recipe-blink="'menu_help_contextual_switch'">Contextual Help</a>
                              <recipe-tooltip rt-id="'menu_help_contextual_help'"></recipe-tooltip>
                            </li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="welcome()" recipe-blink="'menu_help_welcome'">Welcome!</a>
                              <recipe-tooltip rt-id="'menu_help_welcome'"></recipe-tooltip>
                            </li>
                            <li><a href="" ng-click="about()"  recipe-blink="'menu_help_about'">About Music.js</a>
                              <recipe-tooltip rt-id="'menu_help_about'"></recipe-tooltip>
                            </li>
                         </ul>
                          <recipe-tooltip rt-id="'menu_help'"></recipe-tooltip>
                          <div class="help-tooltip contextual-tooltip">Menu to access help options and about</div>                         
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <recipe-tooltip rt-id="'navbar'"></recipe-tooltip>
        </div>
        <div class="navbar-padding"></div>
        <div class="container musicapp">
            <div class="span4">
            </div>
            <div class="span4 bs-docs-sidebar affix show-contextual-tooltip" recipe-blink="'object_index_panel'">
                <ul class="nav nav-list bs-docs-sidenav affix-top examplelist">
                  <li class="show-contextual-tooltip"><span class="fa fa-search"></span> <input ng-model="searchKeyword"></input> 
                    <div class="help-tooltip contextual-tooltip">
                      <p>
                        Type here the word to filter objects
                      </p>
                    </div>
                  </li>
                  <li ng-repeat="file in files" recipe-blink="[file.name, 'index_' + file.type +'_type']" class="show-contextual-tooltip">
                    <a ng-drag="true" ng-drag-data="file" ng-dblclick="activate(file)" href=""><span class="fa fa-{{iconForType(file.type)}}"></span>{{file.name}}</a>
                    <recipe-tooltip rt-id="file.name"></recipe-tooltip>
                    <div class="help-tooltip contextual-tooltip long-tooltip">
                      <p>This is a resource object of type {{file.type}}
                        <ul>
                          <li>To use the resource, drag them from here into your creation on the right</li>
                          <li>To instead, *edit* the resource, double click them (only applicable to instruments, patterns and songs)</li>
                        </ul>
                      </p>
                    </div>
                  </li>
                  <li ng-show="filesTotal > files.length"> ... ({{filesTotal - files.length}} more) ...</li>
                </ul>

                <recipe-tooltip rt-id="'object_index_panel'"></recipe-tooltip>
                <div class="help-tooltip contextual-tooltip long-tooltip"><p>
                  This is the object index, you can find here your crafting outputs and inputs
                </p></div>
            </div>

            <div class="span9">
                <div ng-view></div>
            </div>
        </div>

    </div>
    <recipe-wizard></recipe-wizard>
</body>
