<input class="invisible-text" ng-keyup="keyUp($event.keyCode)" ng-keydown="keyDown($event.keyCode)" type="text" maxlength="0"/>

<div class="piano-row piano-firstrow">
  <div class="octave" ng-repeat="octave in octaves">
    <div class="key whitekey1" ng-class="{'active': octave.note[0]}" 
      ng-mouseenter="octave.play(0)" ng-mouseleave="octave.stop(0)"></div>
    <div class="key blackkey" ng-class="{'active': octave.note[1]}"
    ng-mouseenter="octave.play(1)" ng-mouseleave="octave.stop(1)"></div>
    <div class="key whitekey2" ng-class="{'active': octave.note[2]}"
    ng-mouseenter="octave.play(2)" ng-mouseleave="octave.stop(2)"></div>
    <div class="key blackkey" ng-class="{'active': octave.note[3]}"
    ng-mouseenter="octave.play(3)" ng-mouseleave="octave.stop(3)"></div>
    <div class="key whitekey1" ng-class="{'active': octave.note[4]}"
    ng-mouseenter="octave.play(4)" ng-mouseleave="octave.stop(4)"></div>

    <div class="key whitekey1" ng-class="{'active': octave.note[5]}"
    ng-mouseenter="octave.play(5)" ng-mouseleave="octave.stop(5)"></div>
    <div class="key blackkey" ng-class="{'active': octave.note[6]}"
    ng-mouseenter="octave.play(6)" ng-mouseleave="octave.stop(6)"></div>
    <div class="key whitekey2" ng-class="{'active': octave.note[7]}"
    ng-mouseenter="octave.play(7)" ng-mouseleave="octave.stop(7)"></div>
    <div class="key blackkey" ng-class="{'active': octave.note[8]}"
    ng-mouseenter="octave.play(8)" ng-mouseleave="octave.stop(8)"></div>
    <div class="key whitekey2" ng-class="{'active': octave.note[9]}"
    ng-mouseenter="octave.play(9)" ng-mouseleave="octave.stop(9)"></div>
    <div class="key blackkey" ng-class="{'active': octave.note[10]}"
    ng-mouseenter="octave.play(10)" ng-mouseleave="octave.stop(10)"></div>
    <div class="key whitekey1" ng-class="{'active': octave.note[11]}"
    ng-mouseenter="octave.play(11)" ng-mouseleave="octave.stop(11)"></div>
  </div>
</div>
<div class="piano-row piano-secondrow">
  <div class="octave" ng-repeat="octave in octaves">
    <div class="key" ng-class="{'active': octave.note[0]}"
    ng-mouseenter="octave.play(0)" ng-mouseleave="octave.stop(0)"></div>
    <div class="key" ng-class="{'active': octave.note[2]}"
    ng-mouseenter="octave.play(2)" ng-mouseleave="octave.stop(2)"></div>
    <div class="key" ng-class="{'active': octave.note[4]}"
    ng-mouseenter="octave.play(4)" ng-mouseleave="octave.stop(4)"></div>
    <div class="key" ng-class="{'active': octave.note[5]}"
    ng-mouseenter="octave.play(5)" ng-mouseleave="octave.stop(5)"></div>
    <div class="key" ng-class="{'active': octave.note[7]}"
    ng-mouseenter="octave.play(7)" ng-mouseleave="octave.stop(7)"></div>
    <div class="key" ng-class="{'active': octave.note[9]}"
    ng-mouseenter="octave.play(9)" ng-mouseleave="octave.stop(9)"></div>
    <div class="key" ng-class="{'active': octave.note[11]}"
    ng-mouseenter="octave.play(11)" ng-mouseleave="octave.stop(11)"></div>
  </div>
</div>


