<div class="modal-header musicapp">
    About Music.js: 8bit Edition
</div>

<div class="modal-body musicapp">
  <div class="row-fluid">
    <div class="span12">
      <p>
        Music.js is a web application that allows the composition of melodies powered (optionally) by javascript programming
      </p>
      <p>
        This first basic edition, is fully oriented towards retro/8bit music by providing elemental oscillators, noise generators and basic modulation patterns
      </p>
      <p>
        In the long term, the goal of music.js is to cover all the layers needed between HTML5 Web Audio API provided by browsers and fully usable music composition application similar to known ones like FL Studio
      </p>
    </div>
  </div>

  <h3>AUTHORS</h3>
  <p>
    I am Dario Seminara, but also I should give credit to some key library authors:
    <ul>
      <li>@mohayonao (Author of Timbre.js)</li>
      <li>@higuma (Author of WebAudioRecorder) </li>
      <li>@kristopolous (Author of BOOTSTRA.386 Bootstrap Template)</li>
    </ul>
  </p>

  <h3>CONTRIBUTE</h3>
  <p>
    Contact me at github <a href="http://github.com/tario/music.js">http://github.com/tario/music.js</a>
  </p>
</div>
<div class="modal-footer musicapp">
    <button class="btn btn-primary" type="button" ng-click="dismiss()">Dismiss</button>
</div>
