<div class="modal-header musicapp"  translate="about.title">
</div>

<div class="modal-body musicapp">
  <div class="row-fluid">
    <div class="span12">
      <p translate="welcome.p1">
      </p>
      <p translate="welcome.p2">
      </p>
      <p translate="about.p3">
        
      </p>
    </div>
  </div>

  <h3>{{'about.authors' | translate}}</h3>
  <p>
    {{'about.i_am' | translate}}
    <ul>
      <li translate="about.credit.mohayonao"></li>
      <li translate="about.credit.higuma"></li>
      <li translate="about.credit.kristopolous"></li>
    </ul>
  </p>

  <h3 translate='about.contribute'></h3>
  <p>
    {{'about.contact_me' | translate}} <a href="http://github.com/tario/music.js">http://github.com/tario/music.js</a>
  </p>
</div>
<div class="modal-footer musicapp">
    <button class="btn btn-primary" type="button" ng-click="dismiss()" translate="common.dismiss"></button>
</div>
