<div class="modal-header musicapp" translate="common.HELP">
</div>

<div class="modal-body musicapp">
  <h3 translate="help.FLOW"></h3>
    <p translate="help.p1"></p>
    <p translate="help.p2"></p>
    <p translate="help.p3"></p>

    <div class="pseudo-body">
        <ul class="nav nav-list bs-docs-sidenav examplelist">
          <li><span class="fa fa-search"></span> <input ng-model="searchKeyword"></input> </li>
          <li><a href=""><span class="fa fa-keyboard"></span>Square+ADSR</a></li>
          <li><a href=""><span class="fa fa-music"></span>4/4 Noise Rythm</a></li>
          <li><a href=""><span class="fa fa-magic"></span>lowpass</a></li>
          <li> ... (32 {{'common.more' | translate}}) ...</li>
        </ul>
    </div>

    <br/>
    <br/>
    <p translate="help.p4"></p>

    <div class="pseudo-body">
      <div class="row-fluid">
        <div class="span4">
          <div class="pattern-drop-lateral">
            <p translate="pattern.drop_instrument"></p>
          </div>
        </div>
      </div>
    </div>

    <p translate="help.p5"></p>

    <p translate="help.p6"></p>

    <p translate="help.p7"></p>
    <div class="pseudo-body">
      <ul class="nav nav-list bs-docs-sidenav examplelist">
        <li><span class="fa fa-search"></span> <input ng-model="searchKeyword"></input> </li>
        <li><a href=""><span class="fa fa-magic"></span>arpeggiator</a></li>
        <li><a href=""><span class="fa fa-magic"></span>echo</a></li>
        <li><a href=""><span class="fa fa-magic"></span>reverb</a></li>
        <li><a href=""><span class="fa fa-magic"></span>lowpass</a></li>
        <li><a href=""><span class="fa fa-magic"></span>highpass</a></li>
        <li> ... (32 {{'common.more' | translate}}) ...</li>
      </ul>
    </div>

      <br/>

      <p translate="help.p8">
      
      </p>

  <h3 translate="help.RECIPES"></h3>
  <p translate="help.recipes.p1">
    
  </p>
  <p translate="help.recipes.p2">
    
  </p>
  <p translate="help.recipes.p3">
    
  </p>

  <h3 translate="help.CONTEXTUAL_HELP"></h3>
  <p translate="help.contextual_help.p1">
    
  </p>
</div>
<div class="modal-footer musicapp">
    <button class="btn btn-primary" type="button" ng-click="dismiss()" translate='common.dismiss'></button>
</div>
