<div class="modal-header musicapp" translate="open_project.title">
</div>

<div class="modal-body musicapp recycle">
  <div class="row-fluid">
    <div class="span6">
      <ul class="nav bs-docs-sidenav">
        <li class="show-contextual-tooltip"><span class="fa fa-search"></span> <input ng-model="searchKeyword" ng-change="updateSearch()"></input> 
          <div class="help-tooltip contextual-tooltip">
            <p translate="index.filter"></p>
          </div>
        </li>

        <li ng-repeat="file in files track by $index">
          <a ng-click="select(file.id)" ng-dblclick="open(file.id)" href=""><span class="fa fa-folder-o"></span> {{file.name}}</a>
        </li>
        <li ng-show="filesTotal > files.length"> ... ({{filesTotal - files.length}} {{'common.more' | translate}}) ...</li>
      </ul>
    </div>
    <div class="span6 bordered-square">
      <p translate="open_project.p1">
      </p>
    </div>
  </div>
</div>
<div class="modal-footer musicapp">
    <button ng-show="selected" class="btn btn-primary" type="button" ng-click="open(selected)" translate="common.open"></button>
    <button class="btn btn-primary" type="button" ng-click="cancel()" translate="common.cancel"></button>
</div>
