<div class="modal-header musicapp" translate="project.settings">
</div>

<div class="modal-body musicapp">
  <div class="row-fluid">
    <div class="span2">
      <p class="serie-label" translate="common.name"></p>
    </div>
    <div class="span10">
      <input class="serie" type="text" ng-model="project.name"></input>
    </div>
  </div>
</div>

<div class="modal-footer musicapp">
    <button class="btn btn-primary" type="button" ng-click="done()">{{buttonText | translate}}</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()" translate="common.cancel"></button>
</div>
