<div class="event-area-container" ng-scroll-top="track.scroll">
  <div class="event-area" ng-style="{width: measureCount*measure*beatWidth*zoomLevel + 'px'}">
    <div class="overlay zebra">

    </div>
    <div class="overlay innergrid">
      
    </div>
    <div class="overlay maingrid" ng-style="mainGridStyle">

    </div>
    <div class="overlay event-list" ng-mousedown="mouseDown($event)" ng-mousemove="mouseMove($event)" ng-mouseup="mouseUp($event)" ng-mouseleave="mouseLeave($event)">
      <div 
        draggable="false"
        ng-repeat="evt in track.events" 
        class="note show-contextual-tooltip" ng-class="{selected: selected===evt}"
        ng-style="{'width': evt.l*zoomLevel*beatWidth/100+'px', 'left':evt.s*zoomLevel*beatWidth/100+'px', 'bottom': evt.n*20+'px'}"
        >
        <div class="overlay">{{noteName(evt.n)}}</div>
        <div class="drag-event-section" ng-style="{'width': (evt.l*zoomLevel*beatWidth/100-5)+'px', 'height':'20px'}"
          draggable="false"
          ng-mousedown="mouseDownEvent(evt, $event)"
          ng-mouseup="mouseUpEvent(evt)"
          ng-mousemove="mouseMoveEvent(evt, $event)">
        </div>
        <div class="resize-section"
          draggable="false"
          ng-mousedown="mouseDownResizeEvent(evt, $event)"
          ng-mouseup="mouseUpResizeEvent(evt)">
        </div>

        <div ng-show="selected===evt" class="help-tooltip contextual-tooltip long-tooltip event-note-tooltip">
          Note event. Drag from the right edge to change the duration or press delete key to remove<br/>
          Drag to change the value and/or starting time
        </div>        

        <div ng-show="selected!==evt" class="help-tooltip contextual-tooltip long-tooltip event-note-tooltip">
          Note event. Click to select and edit it<br/>
          Drag to change the value and/or starting time
        </div>        
      </div>
    </div>
  </div>
</div>
