<div class="event-area-container" ng-scroll-top="track.scroll" ng-scroll-left="pattern.scrollLeft">
  <div ng-class="{'cursor-none': !!shadowEvt}" class="event-area" ng-style="{width: measureCount*measure*beatWidth*zoomLevel + 'px'}">
    <playing-line bpm="pattern.bpm" zoom-level="zoomLevel" beat-width="beatWidth" class="overlay playing-line pattern-playing-line"></playing-line>


    <div class="overlay zebra">

    </div>
    <div class="overlay innergrid">
      
    </div>
    <div class="overlay maingrid" ng-style="mainGridStyle">

    </div>

    <div class="overlay event-list" ng-mousedown="mouseDown($event)" ng-mousemove="mouseMove($event)" ng-mouseup="mouseUp($event)" ng-mouseleave="mouseLeave($event)">   
      <div ng-mousedown="addFromShadow($event)" ng-mousemove="shadowMouseMove($event)" class="note note-shadow" ng-style="{'width': (shadowEvt.l*zoomLevel*beatWidth/TICKS_PER_BEAT-2)+'px', 'left':(shadowEvt.s*zoomLevel*beatWidth/TICKS_PER_BEAT)+'px', 'bottom': shadowEvt.n*20+'px'}">
        <div class="note-label overlay">{{track.instrument === 'tempo' ? shadowEvt.n : noteName(shadowEvt.n)}}</div>
      </div>

      <div 
        draggable="false"
        ng-repeat="evt in track.events track by $index"
        class="note show-contextual-tooltip" ng-class="{selected: selected===evt}"
        ng-style="{'width': (evt.l*zoomLevel*beatWidth/TICKS_PER_BEAT-2)+'px', 'left':evt.s*zoomLevel*beatWidth/TICKS_PER_BEAT+'px', 'bottom': evt.n*20+'px'}"
        >
        <div class="overlay note-label">{{track.instrument === 'tempo' ? evt.n : noteName(evt.n)}}</div>
        <div class="drag-event-section" ng-style="{'width': (evt.l*zoomLevel*beatWidth/TICKS_PER_BEAT-5)+'px', 'height':'20px'}"
          draggable="false"
          ng-mousedown="mouseDownEvent(evt, $event)"
          ng-mouseup="mouseUpEvent(evt)"
          ng-mousemove="mouseMoveEvent(evt, $event)"
          ng-dblclick="mouseDblClickEvent(evt, $event)">
        </div>
        <div class="resize-section"
          draggable="false"
          ng-mousedown="mouseDownResizeEvent(evt, $event)"
          ng-mouseup="mouseUpResizeEvent(evt)"
          ng-mousemove="mouseMoveResizeEvent(evt, $event)">
        </div>

        <div ng-show="selected===evt" class="help-tooltip contextual-tooltip long-tooltip event-note-tooltip">
          {{'pattern.tooltip.note_event_p1' | translate}}<br/>
          {{'pattern.tooltip.note_event_p2' | translate}}
        </div>        

        <div ng-show="selected!==evt" class="help-tooltip contextual-tooltip long-tooltip event-note-tooltip">
          {{'pattern.tooltip.note_event_p3' | translate}}<br/>
          {{'pattern.tooltip.note_event_p2' | translate}}
        </div>        
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="span3"></div>
  <div class="span1"><p ng-if="track.instrument !== 'tempo'" class="serie-label pull-right">tc</p></div>
  <div class="span2">
    <input ng-if="track.instrument !== 'tempo'" ng-disabled="!selected" type="number" step="0.000000001" class="responsive-input" ng-model="selected.tc"  ng-change="raiseEventChanged(selected, selected, track)"></input>
  </div>

  <div class="span1"><p class="serie-label pull-right">start</p></div>
  <div class="span1">
    <input ng-disabled="!selected" type="number" min="0" max="{{measureCount*measure*TICKS_PER_BEAT - selected.l}}" class="responsive-input" ng-model="selected.s" ng-change="raiseEventChanged(selected, selected, track)"></input>
  </div>

  <div class="span1"><p class="serie-label pull-right">len.</p></div>
  <div class="span1">
    <input ng-disabled="!selected" type="number" min="6" max="{{measureCount*measure*TICKS_PER_BEAT - selected.s}}" class="responsive-input" ng-model="selected.l" ng-change="raiseEventChanged(selected, selected, track)"></input>
  </div>

  <div class="span1">
    <p ng-if="track.instrument !== 'tempo'" class="serie-label pull-right">n</p>
    <p ng-if="track.instrument === 'tempo'" class="serie-label pull-right">t</p>
  </div>
  <div class="span1">
    <input min="0" max="1024" ng-disabled="!selected" type="number" class="responsive-input" ng-model="selected.n" ng-change="raiseEventChanged({n:-1}, selected, track)"></input>
  </div>
</div>
