<div ng-mousedown="mouseDown($event)" ng-mousemove="mouseMove($event)" ng-mouseup="mouseUp($event)" ng-mouseleave="mouseLeave($event)" class="track-compact-view event-area" ng-style="mainGridStyle">
  <div ng-class="{selected: selected===evt}" ng-repeat="evt in track.events track by $index" class="note" ng-style="{'width': (evt.l*zoomLevel*beatWidth/TICKS_PER_BEAT-2)+'px', 'left':(evt.s*zoomLevel*beatWidth/TICKS_PER_BEAT - pattern.scrollLeft)+'px', 'z-index': evt.s}">
    <div class="overlay">{{noteName(evt.n)}}</div>
    <div class="drag-event-section" ng-style="{'width': (evt.l*zoomLevel*beatWidth/TICKS_PER_BEAT-5)+'px', 'height':'20px'}"
      draggable="false"
      ng-mousedown="mouseDownEvent(evt, $event)"
      ng-mouseup="mouseUpEvent(evt)"
      ng-mousemove="mouseMoveEvent(evt, $event)">
    </div>
    <div class="resize-section"
      draggable="false"
      ng-mousedown="mouseDownResizeEvent(evt, $event)"
      ng-mouseup="mouseUpResizeEvent(evt)">
    </div>

  </div>
</div>
