<div class="compact-recycle-bin" ng-drop="true" ng-drop-success="onDropComplete($data)">
  <p class="title show-hint-sibling" ng-click="openRecycleBin()"><span class="fa fa-trash"></span> {{'recycle.compact_title'|translate}}</p>
  <div class="hint left-200" translate="recycle.compact_hint_open"></div>
  <ul class="show-hint" ng-show="files.length">
    <div class="hint left-200" translate="recycle.compact_hint_restore"></div>
    <li ng-dblclick="restore(file)" ng-repeat="file in files">
      <span type-icon="file.type"></span> {{file.name}}
    </li>
  </ul>
  <p ng-show="!files.length" class="text-center">--- {{'recycle.EMPTY'|translate}} ---</p>
</div>
