<div class="row-fluid">
  <div class="show-contextual-tooltip span6">
    <input class="show-contextual-tooltip width100" ng-change="indexChanged()" ng-model="fileIndex.name"/>
    <div class="help-tooltip contextual-tooltip" translate="editor.tooltip.type_here_instrument"></div>
  </div>

  <button class="btn btn-primary pull-right show-contextual-tooltip" ng-click="removeItem()">
    <recipe-tooltip rt-id="'instrument_remove'"></recipe-tooltip>
    <div class="help-tooltip contextual-tooltip cap-right" translate="common.tooltip.remove_item"></div>
    {{(fileIndex.builtIn ? 'common.reset':'common.remove') | translate}}
  </button>

</div>

<div class="music-object-editor" music-stack init-file="file" output-file="outputFile">
</div>

<p translate="editor.keyboard_instructions"></p>
<div ng-repeat="instrument in instruments" class="show-contextual-tooltip">
    {{instrument.name}}
    <div><keyboard instrument="instrument" /></div>
    <div class="help-tooltip contextual-tooltip" translate="editor.tooltip.test_instrument_here"></div>
</div>

<!--<button class="btn btn-primary" ng-click="export()">Export</button>-->
