<div class="show-contextual-tooltip">
<input class="span6 show-contextual-tooltip" ng-change="indexChanged()" ng-model="fileIndex.name"/>
<div class="help-tooltip contextual-tooltip" translate="editor.tooltip.type_here_instrument"></div>
</div>
<div class="music-object-editor" music-stack init-file="file" output-file="outputFile">
</div>

<p translate="editor.keyboard_instructions"></p>
<div ng-repeat="instrument in instruments" class="show-contextual-tooltip">
    {{instrument.name}}
    <div><keyboard instrument="instrument" /></div>
    <div class="help-tooltip contextual-tooltip" translate="editor.tooltip.test_instrument_here"></div>
</div>

<!--<button class="btn btn-primary" ng-click="export()">Export</button>-->
