<div class="row-fluid">
  <div class="show-contextual-tooltip span6" >
    <input class="width100" recipe-blink="'pattern_name_input_box'" ng-change="indexChanged()" ng-model="fileIndex.name"/>
    <recipe-tooltip rt-id="'pattern_name_input_box'"></recipe-tooltip>

    <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.change_name"></div>
  </div>

  <button class="btn btn-primary pull-right show-contextual-tooltip editor-btn" ng-click="removeItem()">
    <recipe-tooltip rt-id="'pattern_remove'"></recipe-tooltip>
    <div class="help-tooltip contextual-tooltip cap-right" translate="common.tooltip.remove_item"></div>
    {{(fileIndex.builtIn ? 'common.reset':'common.remove') | translate}}
  </button>

  <button class="btn btn-primary pull-right show-contextual-tooltip editor-btn" ng-click="exportItem()">
    <recipe-tooltip rt-id="'instrument_export'"></recipe-tooltip>
    <div class="help-tooltip contextual-tooltip cap-right" translate="common.tooltip.remove_item"></div>
    {{'common.export' | translate}}
  </button>
</div>

<div class="pattern-main-window">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
          <div class="span6">
            <p class="serie-label" translate="pattern.measure_beats"></p>
          </div>
          <div class="span2 show-contextual-tooltip">
            <input type="number" class="smallinput" min=1 max=50 ng-model="file.measure" ng-change="fileChanged()"/>

            <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.amount_beats"></div>
          </div>

      </div>
      <div class="row-fluid">
          <div class="span6">
            <p class="serie-label" translate="pattern.measure_count"></p>
          </div>
          <div class="span2 show-contextual-tooltip">
            <p class="serie-label">{{file.measureCount}}</p>
            <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.total_measures"></div>
          </div>
      </div>
      <div class="row-fluid">
          <div class="span6">
            <p class="serie-label" translate="pattern.zoom_level"></p>
          </div>
          <div class="span2 show-contextual-tooltip">
            <input type="number" class="smallinput" min=1 max=32 ng-model="zoomLevel"/>
            <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.zoom_level"></div>
          </div>
      </div>
    </div>
    <div class="span6 player-controls pull-right">
      <div class="row-fluid">
        <button recipe-blink="'pattern_play'" class="player btn btn-primary show-contextual-tooltip play-button" ng-click="play(); recipe.raise('pattern_play_click')">
          {{'common.play' | translate}}
          <recipe-tooltip rt-id="'pattern_play'"></recipe-tooltip>
          <div class="help-tooltip contextual-tooltip cap-right" translate="pattern.tooltip.play"></div>
        </button>
        <button class="player btn btn-primary show-contextual-tooltip" ng-click="stop()">
          {{'common.stop' | translate}}
          <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.stop"></div>
        </button>
      </div>
      <div class="row-fluid"> 
          <div class="span1 pull-right"></div>
          <div class="span3 pull-right show-contextual-tooltip">
            <input type="number" class="smallinput" min=1 ng-model="file.bpm"  ng-change="fileChanged()"/>
            <div class="help-tooltip contextual-tooltip cap-right" translate="common.tooltip.playing_speed"></div>
          </div>
          <div class="span2 pull-right">
            <p class="serie-label" translate="common.bpm"></p>
          </div>
      </div>
    </div>
  </div>

  <hr class="soften"></hr>

  <h1 translate="pattern.tracks"></h1>

  <div class="multi-track-container">
    <div ng-repeat="track in file.tracks track by $index" ng-class="{'track-muted': mutedState[$index]}">
      <div class="row-fluid">
        <div class="vertical-margin span2 track-button-panel">
          <div class="show-contextual-tooltip inline">
            <button ng-click="removeTrack($index)" class="btn btn-primary btn-remove-track">X</button>
            <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.remove_track"></div>
          </div>
          <div class="show-contextual-tooltip inline track-flag pull-right" ng-class="{enabled: track.muted}" ng-click="track.muted=!track.muted; updateMuted()">M
            <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.muted"></div>
          </div>
          <div class="show-contextual-tooltip inline track-flag pull-right" ng-class="{enabled: track.solo}" ng-click="track.solo=!track.solo; updateMuted()">S
            <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.solo"></div>
          </div>
        </div>
        <div class="vertical-margin span10 show-contextual-tooltip">
          <div class="track-compact-view-wrapper" ng-class="{selected: file.selectedTrack === $index}">
            <pattern-track-compact-view
              measure-count="file.measureCount"
              measure="file.measure"
              pattern="file"
              track="file.tracks[$index]"
              beat-width="beatWidth"
              zoom-level="zoomLevel"></pattern-track-compact-view>
          </div>

          <div class="help-tooltip contextual-tooltip">{{'pattern.tooltip.compact_view_p1' | translate}}<br/> {{'pattern.tooltip.compact_view_p2' | translate}}</div>
        </div>
      </div>
      <div class="row-fluid" ng-if="file.selectedTrack == $index" ng-class="{'enabled-instrument': file.tracks[file.selectedTrack].instrument}" >
          <div class="span2">
          <!-- Instrument drop zone -->
              <div recipe-blink="'pattern_instrument_dropzone'" class="pattern-drop-lateral show-contextual-tooltip" ng-drop="true" ng-drop-success="onDropComplete($data,$event); recipe.raise('instrument_dropped')">
                <span ng-show="file.tracks[file.selectedTrack].instrument" type-icon="file.tracks[file.selectedTrack].instrument | instrument_type:instrumentMap"></span>
                <p>{{file.tracks[file.selectedTrack].instrument ? (file.tracks[file.selectedTrack].instrument | instrument_name:instrumentMap) : ('pattern.drop_instrument' | translate) }}</p>
                <recipe-tooltip rt-id="'pattern_instrument_dropzone'"></recipe-tooltip>
                <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.drop_zone"></div>

                <div ng-show="(file.tracks[file.selectedTrack].instrument | instrument_type:instrumentMap) == 'instrument'" class="overlay" ng-dblclick="instrumentEdit(track)">
                  <span class="pattern-mini-button fa fa-edit show-contextual-tooltip" ng-click="instrumentEdit(track)" ng-mousedown="$event.stopPropagation()">
                    <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.instrument_edit"></div>
                  </span>
                </div>

              </div>

              <div class="show-contextual-tooltip row-fluid track-flags-panel">
                <div class="span2">
                  <input type="checkbox" class="regular-checkbox" ng-change="updateMuted()" ng-model="track.muted" />
                </div>
                <div class="span10">
                  <div class="track-muted-state" ng-class="{'track-muted': track.muted}" translate="pattern.track_muted"></div>
                </div>
                <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.muted"></div>
              </div>

              <div class="show-contextual-tooltip row-fluid track-flags-panel">
                <div class="span2">
                  <input type="checkbox" class="regular-checkbox" ng-change="updateMuted()" ng-model="track.solo" />
                </div>
                <div class="span10">
                  <div class="track-muted-state" ng-class="{'track-muted': track.solo}" translate="pattern.track_solo"></div>
                </div>
                <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.solo"></div>
              </div>
          </div>  

          <div class="span10 show-contextual-tooltip">
            <music-event-editor 
              measure-count="file.measureCount"
              measure="file.measure"
              track="file.tracks[file.selectedTrack]"
              pattern="file"
              beat-width="beatWidth"
              zoom-level="zoomLevel"
              recipe="recipe"></music-event-editor>

            <recipe-tooltip rt-id="'pattern_track_event_area'"></recipe-tooltip>

            <div class="help-tooltip contextual-tooltip long-tooltip">
              {{'pattern.tooltip.editor_notes_p1' | translate }}
              <br/>
              * {{'pattern.tooltip.editor_notes_p2' | translate }}
              <br/>
              * {{'pattern.tooltip.editor_notes_p3' | translate }}
              <br/>
              * {{'pattern.tooltip.editor_notes_p4' | translate }}
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row-fluid margin-top-20">
    <div class="span2 show-contextual-tooltip">
      <button ng-click="addTrack()" class="btn btn-primary" translate="common.add"></button>

      <div class="help-tooltip contextual-tooltip" translate="pattern.tooltip.add_track"></div>
    </div>
  </div>


</div>