<input class="span6" ng-change="indexChanged()" ng-model="fileIndex.name"/>
<div class="song-main-window">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
          <div class="span6">
            <p class="serie-label">Measure beats</p>
          </div>
          <div class="span2">
            <input type="number" class="smallinput" min=1 max=50 ng-model="file.measure" ng-change="fileChanged()"/>
          </div>

      </div>
    </div>
    <div class="span6 player-controls pull-right">
      <div class="row-fluid">
        <button recipe-blink="'song_play'" class="player btn btn-primary" ng-click="play(); recipe.raise('song_play_click')">
          Play
          <recipe-tooltip rt-id="'song_play'"></recipe-tooltip>
        </button>
        <button class="player btn btn-primary" ng-click="stop()">
          Stop
        </button>
        <button recipe-blink="'song_rec'" class="player btn btn-primary" ng-click="record(); recipe.raise('song_rec_click')" ng-class="{recording: currentRec}">
          Rec.
          <recipe-tooltip rt-id="'song_rec'"></recipe-tooltip>
        </button>
      </div>
      <div class="row-fluid"> 
          <div class="span1 pull-right"></div>
          <div class="span3 pull-right">
            <input type="number" class="smallinput" min=1 ng-model="file.bpm" ng-change="fileChanged()"/>
          </div>
          <div class="span2 pull-right">
            <p class="serie-label">Bpm</p>
          </div>
      </div>
    </div>
  </div>
  <hr class="soften"></hr>

  <div class="pattern-block-area-container">
    <div class="pattern-block-area">
      <div class="track" ng-repeat="track in file.tracks" ng-init="trackIdx = $index">
        <div 
          class="pattern-block"
          ng-repeat="block in track.blocks"
          ng-drop="true"
          ng-drop-success="onDropComplete($data,$event,block)",
          recipe-blink="'song_pattern_dropzone_' + trackIdx + '_' + $index">


          <p ng-show="block">
            Drop pattern here
          </p>


          <div class="overlay block-content" ng-show="block && block.id" ng-drag="true" ng-drag-data="{fromBlock: block}" ng-style="{'width': 100* (block|block_length:indexMap:file.measure) + '%'}">
            <span class="fa fa-music"></span>
            <p ng-show="block">
              {{block | block_name:indexMap}}
            </p>

            <div class="overlay">
              <span class="pattern-mini-button fa fa-remove" ng-click="remove(block)" ng-mousedown="$event.stopPropagation()">
              </span>
              <span class="pattern-mini-button fa fa-play" ng-click="patternPlay(block)" ng-mousedown="$event.stopPropagation()">
              </span>
            </div>
          </div>

          <recipe-tooltip rt-id="'song_pattern_dropzone_' + trackIdx + '_' + $index"></recipe-tooltip>
        </div>
      </div>
    </div>
  </div>

</div>
