<div class="stackdropbar show-contextual-tooltip" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
  {{'stack.drop_elements_here' | translate}}
  <div class="help-tooltip contextual-tooltip" translate="stack.tooltip.you_can_drop_new_effects_here"></div>
</div>
<div ng-repeat="subfile in file.array track by $index" class="stack-element" ng-if="file">
  <button class="btn btn-primary show-contextual-tooltip" ng-click="remove($index)">{{'common.remove'|translate}}<div class="help-tooltip contextual-tooltip" translate='stack.tooltip.remove'></div></button>
  <button class="btn btn-primary show-contextual-tooltip" ng-show="$index>0" ng-click="up($index)">↑<div class="help-tooltip contextual-tooltip" translate="stack.tooltip.up"></div></button>
  <button class="btn btn-primary show-contextual-tooltip" ng-show="$index<file.array.length-1" ng-click="down($index)">↓<div class="help-tooltip contextual-tooltip" translate="stack.tooltip.down"></div></button>
  <input type="checkbox" class="pull-right compressable-switch regular-checkbox show-contextual-tooltip-sibiling" />
  <div class="help-tooltip contextual-tooltip" style="right: 0" translate="stack.tooltip.expand"></div>
  <div class="compressable">
    <div music-object-editor file="subfile">
    </div>
  </div>
</div>
